body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
}


.container {
width: 400px;
margin: 50px auto;
padding: 20px;
background: white;
border-radius: 8px;
}


input {
width: 90%;
padding: 10px;
margin: 5px 0;
}


button {
width: 100%;
padding: 10px;
background: #8b0000;
color: white;
border: none;
cursor: pointer;
}